.container {
  display: flex;
  min-height: calc(100vh - 88px);
  align-items: center;
  justify-content: center;
  padding: 24px;
  max-width: 400px !important;
  margin: 0 auto;
}

.paper {
  padding: 32px;
  width: 100%;
  border-radius: 8px !important;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.submitButton {
  margin-top: 24px !important;
  padding: 10px !important;
}
